@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

html {
  box-sizing: border-box;
}

body {
  background-image: url(./images/pattern-background-mobile.svg);
  background-position: top;
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-color: var(--very-pale-blue);
  font-family: 'Red Hat Display', sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 20.625rem;
  min-width: 20.5rem;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  /* border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem; */
  border-radius: 1.25rem;
  border-style: hidden;
}

.card__hero {
  width: 100%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.card__title {
  font-size: 1.375rem;
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card__summary {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5625;
  text-align: center;
  margin: 0 2rem;
}

.card__plan {
  display: flex;
  justify-content: space-around;
  margin: 1.5rem;
  padding: 1rem;
  background-color: var(--very-pale-blue);
  border-radius: 0.5rem;
}

/* .card__plan img {
  margin-right: 1.25rem;
} */

.card__plan .card__plan--cost {
  margin-right: 0.75rem;
  align-self: center;
}

.card__plan a {
  align-self: center;
}

.card__plan a:hover {
  color: #766cf1;
  text-decoration: none;
}

.card__CTAbutton {
  text-decoration: none;
  color: white;
  font-size: 0.9375rem;
  font-weight: 900;
  background-color: var(--bright-blue);
  border-radius: 0.6875rem;
  padding: 0.9375rem 4.0625rem;
  text-align: center;
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.card__CTAbutton:hover {
  background-color: #766cf1;
}

.card__cancelbutton {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-size: 0.9375rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
}

.card__cancelbutton:hover,
.card__cancelbutton:active {
  color: var(--dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 425px) {
  .card {
    max-width: 28.125rem;
  }

  .card__summary {
    margin: 0 3rem;
    line-height: 1.625;
    padding: 0 1.5rem;
  }

  .card__plan {
    margin: 1.5rem 3rem;
  }

  .card__plan .card__plan--cost {
    margin-right: 5rem;
  }

  .card__CTAbutton {
    margin: 0 3rem;
    margin-bottom: 1.5rem;
  }
}
